USE [master]
GO
/****** Object:  Database [wineSet]    Script Date: 09.02.2020. 17:53:34 ******/
CREATE DATABASE [wineSet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wineSet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\wineSet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'wineSet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\wineSet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wineSet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wineSet]
GO
/****** Object:  Table [dbo].[winequalityRed]    Script Date: 09.02.2020. 17:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[winequalityRed](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[fixed acidity] [varchar](50) NULL,
	[volatile acidity] [varchar](50) NULL,
	[citric acid] [varchar](50) NULL,
	[residual sugar] [varchar](50) NULL,
	[chlorides] [varchar](50) NULL,
	[free sulfur dioxide] [varchar](50) NULL,
	[total sulfur dioxide] [varchar](50) NULL,
	[density] [varchar](50) NULL,
	[pH] [varchar](50) NULL,
	[sulphates] [varchar](50) NULL,
	[alcohol] [varchar](50) NULL,
	[quality] [varchar](50) NULL,
 CONSTRAINT [PK_winequalityRed] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[winequalityRed] ON 

INSERT [dbo].[winequalityRed] ([ID], [fixed acidity], [volatile acidity], [citric acid], [residual sugar], [chlorides], [free sulfur dioxide], [total sulfur dioxide], [density], [pH], [sulphates], [alcohol], [quality]) VALUES (1, N'7.4', N'0.7', N'0.0', N'1.9', N'0.076', N'11.0', N'34.0', N'0.9978', N'3.51', N'0.56', N'9.4', N'5')
INSERT [dbo].[winequalityRed] ([ID], [fixed acidity], [volatile acidity], [citric acid], [residual sugar], [chlorides], [free sulfur dioxide], [total sulfur dioxide], [density], [pH], [sulphates], [alcohol], [quality]) VALUES (2, N'7.8', N'0.88', N'0.0', N'2.6', N'0.098', N'25.0', N'67.0', N'0.9968', N'3.2', N'0.68', N'9.8', N'5')
INSERT [dbo].[winequalityRed] ([ID], [fixed acidity], [volatile acidity], [citric acid], [residual sugar], [chlorides], [free sulfur dioxide], [total sulfur dioxide], [density], [pH], [sulphates], [alcohol], [quality]) VALUES (3, N'7.8', N'0.76', N'0.04', N'2.3', N'0.092', N'15.0', N'54.0', N'0.997', N'3.26', N'0.65', N'9.8', N'5')
GO
SET IDENTITY_INSERT [dbo].[winequalityRed] OFF
/****** Object:  StoredProcedure [dbo].[asp_Podaci_Za_Treniranje_KNN]    Script Date: 09.02.2020. 17:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[asp_Podaci_Za_Treniranje_KNN]
AS
	SELECT ID,[fixed acidity] as fixed_acidity,[volatile acidity] as volatile_acidity, [citric acid] as citric_acid, [residual sugar] as residual_sugar, chlorides, [free sulfur dioxide] as free_sulfur_dioxide, [total sulfur dioxide] as total_sulfur_dioxide , density, pH, sulphates, alcohol,quality
	from winequalityRed as wr
	where wr.quality is null
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[asp_Trening_Podaci_Za_KNN]    Script Date: 09.02.2020. 17:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[asp_Trening_Podaci_Za_KNN]

AS
	SELECT ID,[fixed acidity] as fixed_acidity,[volatile acidity] as volatile_acidity, [citric acid] as citric_acid, [residual sugar] as residual_sugar, chlorides, [free sulfur dioxide] as free_sulfur_dioxide, [total sulfur dioxide] as total_sulfur_dioxide , density, pH, sulphates, alcohol,quality
	from winequalityRed as wr
	where wr.quality is not null
RETURN 0
GO
USE [master]
GO
